*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    
    --border-botao: 1px;
    --border-color-botao: #0A3871;
    --cor-branca: #FFFFFF;
    --cor-letra: #0A3871;
    --cor-letra-branca : #FFFFFF;
    


}
.dark-theme{
    --border-botao: 1px;
    --border-color-botao: #3700B3;
    --cor-branca: #6200EE;
    --cor-letra: #d3c1eb;
    --cor-letra-branca: #d3c1eb;
}

#copybutton{
    
    width: 84%;
    max-width: 336px;
    height: 67px;
    border-radius: 24px;
    color: var(--cor-letra);
    background-color: var(--cor-branca);
    border: 1px solid var(--border-color-botao);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}




.text__buttons__criptografar{
    width: 45%;
    max-width: 400px;
    height: 67px;
    border-radius: 24px;
    color: var(--cor-letra-branca);
    background-color: var(--border-color-botao);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.text__buttons__criptografar:active{
    opacity: 0.9;
}


.text__buttons__descriptografar{
    width: 45%;
    max-width: 400px;
    height: 67px;
    border-radius: 24px;
    background-color: var(--cor-branca);
    color: var(--cor-letra);
    border: 1px solid var(--border-color-botao);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

@media(max-width: 1000px){
    #copybutton{
        width: calc(100% - 64px);
        max-width: calc(100% - 64px);
    }
    
}

@media(max-width: 700px){
    .text__button{
        width: 90%;
        max-width: 90%;
    }
    
}