@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    
    --cor-primaria: #F3F5FC; 
    --cor-secundaria: #FFFFFF;    
    --cor-tercearia: #0A3871;
    --cor-resposta: #495057;
    
}

.dark-theme{
    --cor-primaria: #121212;
    --cor-secundaria: #1F1B24 ;    
    --cor-tercearia: #9290C3;
    --cor-resposta: #535C91;
}


html{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
}

.logo{
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
}

.moon{
    position: absolute;
    top: 20px;
    right: 28px;
    width: 24px;
    cursor: pointer;
}

.tema{
    position: absolute;
    top: 50px;
    right: 28px;
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--cor-tercearia);    
}

body{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: calc(100% - 40px);
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    align-items: center;
    margin: 40px;
    width: calc(100vw - 40px);
}

.text{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 96%;
    width: 65%;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}

.text__textarea{
    all: unset;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--cor-tercearia);
    margin: 64px;
    width: 70%;
    height: 50%;
}

.text__textarea::placeholder{
    color: var(--cor-tercearia);
    opacity: 0.2;
}

.text__buttons_box{
    display: flex;
    gap: 40px;
    margin: 32px 0px;
    width: 100%;
    justify-content: space-between;
}

.text__buttons_texto{
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--cor-resposta);
    margin-bottom: -25px; 
}

.text-buttons{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
}

.respost{
    padding: 32px 0px;
    height: 95%;
    box-sizing: border-box;    
    width: 30%;
    max-width: 400px;    
    background-color: var(--cor-secundaria);
    border-radius: 32px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    gap: 32px;
}

.respost__resposta{
    width: 70%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor-resposta);
    max-height: 80%;
    overflow: auto;
    overflow-wrap: break-word; 
}
.respost__imgbox{
    width: 70%;
    display: flex;
    flex-direction: column; 
}

.repost__norespost{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: var(--cor-resposta);
}

.respost__norespost2{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: var(--cor-resposta);
}

@media(max-width: 1000px){
    html{
        height: auto;
        width: auto;
    }
    body{
        flex-direction: column;
        margin: 0;
        height: auto;
    }
    .respost__img{
        display: none;        
    }
    .text{
        width: calc(100% - 40px);
        height: 70dvh;
    }
    .respost{
        width: 90%;
        max-width: 1080px;
        height: auto;
        margin-bottom: 40px;
    }
    .text__textarea{
        justify-self: start;
        margin: 0;
        width: 90%;
        height: 30%;
        margin-top: 120px;
    }
    .text-buttons{
        width: 90%;
        justify-content: space-between;
        
    }
    

}


@media(max-width: 700px){
    .text__buttons_box{
        flex-direction: column;        
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .text-buttons{
        align-items: center;
    }
}